!!!5
html(lang="en")
  head
    title JSON to YAML
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel="stylesheet", type="text/css", href="./css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="./css/bootstrap-responsive.min.css")
    link(rel="stylesheet", type="text/css", href="./css/style.min.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="./js/bootstrap.min.js")
    script(src="./js/pakmanaged.min.js")
  body
    .container
      .row
        .offset1.span5
          h2 JSON
          //- TODO will need JSONLint
          p Paste your JSON here
          textarea.span5.js-json(rows="20").
            {
              "foo": "bar",
              "baz": [
                "qux",
                "quxx"
              ],
              "corge": null,
              "grault": 1,
              "garply": true,
              "waldo": "false",
              "fred": "undefined",
              "emptyArray": [],
              "emptyObject": {},
              "emptyString": ""
            }
        .span5
          h2 YML
          p See the YML output here
          textarea.span5.js-yml(rows="20").
            ---

      .row
        .offset2.span4
          button.center.btn.btn-primary.btn-large.js-convert(type="button") Convert JSON to YAML

      .row
        br
        .page-header
          h1 Converting from JSON to YAML
      .row
        .span12
          p Converting JSON to YAML is a two part process.
          p.
            First you have to convert a string of JSON into an object in whichever language you're using.
            This process is referred to as to <strong>parse</strong> or to <strong>deserialize</strong>.
          p.
            Next you'll need to convert that object into a YAML string.
            This process is referred to as to to <strong>emit</strong>,
            to <strong>serialize</strong>, or to <strong>stringify</strong>.
          p.
            Technically speaking, JSON already is YAML since YAML allows for the use
            of brackets and commas in the exact same way that JSON does.
            However, for the sake of human-readability, it's very convenient to use
            the whitespace syntax of YAML without any brackets.

      .row
        .span12
          h3 JavaScript
          pre.
            (function () {
              "use strict";

              var json2yaml = require('json2yaml')
                , json
                , data
                , yml
                ;

              json = '{ "foo": "bar" }';
              data = JSON.parse(json);
              yml = YAML.stringify(data);

              console.log(yml);
            }());

          ul
            li
              code npm install json2yaml
            li
              a(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/parse") JSON.parse
            li
              a(href="https://github.com/coolaj86/json2yaml") YAML::dump

      .row
        .span12
          h3 Ruby
          pre.
            require 'json'
            require 'YAML'
            
            json = '{ "foo": "bar" }'
            data = JSON.parse(json)
            yml = YAML::dump(data)

            puts yml

          ul
            li
              code gem install json
            li
              a(href="http://www.ruby-doc.org/stdlib-2.0/libdoc/json/rdoc/JSON.html") JSON.parse
            li
              a(href="http://www.ruby-doc.org/stdlib-2.0/libdoc/yaml/rdoc/YAML.html") YAML::dump

      .row
        .span12
          h3 Python
          pre.
            import json
            import yaml

            json = '{ "foo": "bar" }'
            data = json.loads(json)
            yml = yaml.dump(data)

            print(yml)

          ul
            li
              code pip install pyyaml || easy_install pyyaml
            li
              a(href="http://docs.python.org/2/library/json.html") json.loads
            li
              a(href="https://bitbucket.org/xi/pyyaml") yaml.dump

    footer.footer
      .container
        p
          span Built by 
          a(href="http://coolaj86.com") AJ ONeal
          span .
        p
          span Code licensed under 
          a(href="http://www.apache.org/licenses/LICENSE-2.0") Apache License v2.0
          span , documentation under 
          a(href="http://creativecommons.org/licenses/by/3.0/") CC BY 3.0
          span .
        ul.footer-links
          li
            a(href="https://github.com/coolaj86/json2yaml/tree/gh-pages") Source
          li.muted •
          li
            a(href="https://github.com/coolaj86/json2yaml/issues") Issues
