.row
  .span12
    h3 Bash
    pre.
      npm install -g yaml2json
    pre.
      # From file
      yaml2json example.yml

      # From stdin
      cat example.yml | yaml2json

    ul
      li
        span Install 
        a(href="http://nodejs.org#download") NodeJS
      li
        a(href="https://github.com/coolaj86/yaml2json") yaml2json
