.row
  .span12
    h3 Java
    pre.
      String yamlString = "---\n  foo: bar";
      
      Yaml yaml= new Yaml();
      Map<String,Object> map= (Map<String, Object>) yaml.load(yamlString);

      JSONObject jsonObject=new JSONObject(map);
      System.out.println(jsonObject.toString());

    ul
      li
        span Use this libraries:
        a(href="http://www.snakeyaml.org") SnakeYAML
      li
        a(href="http://www.json.org/java/") org.json
