.row
  .span12
    h3 JavaScript (browser only)
    pre.
      &lt;script src="http://jsontoyaml.com/js/yaml.js"&gt;&lt;/script&gt;
    pre.
      (function () {
        "use strict";

        var YAML = window.YAML
          , json
          , data
          , yml
          ;

        yml = '---&#92;n  foo: bar';
        data = YAML.parse(yml);
        json = JSON.stringify(data);

        console.log(json);
      }());

    ul
      li
        span Download 
        code
          a(href="http://jsontoyaml.com/js/yaml.js") yaml.js
      li
        a(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify") JSON.stringify
      li
        a(href="https://github.com/jeremyfa/yaml.js") YAML.parse
      li.
        Note: where size is a concern another YAML library which is not as complete, but handles the most common use cases may be a more suitable option.
