.row
  .span12
    h3 JavaScript
    pre
      include yaml2json.js

    ul
      li
        code npm install yamljs
      li
        a(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify") JSON.stringify
      li
        a(href="https://github.com/jeremyfa/yaml.js") YAML.parse
