.row
  .span12
    h3 Perl
    pre
      include yaml2json.pl

    ul
      li
        code cpanm YAML::XS
      li
        a(href="http://search.cpan.org/dist/YAML-LibYAML/lib/YAML/XS.pm") YAML::XS
      li
        a(href="http://search.cpan.org/dist/JSON/lib/JSON.pm") JSON
