.row
  .span12
    h3 Python
    pre
      include yaml2json.py

    ul
      li
        code pip install pyyaml || easy_install pyyaml
      li
        a(href="https://bitbucket.org/xi/pyyaml") yaml.load
      li
        a(href="http://docs.python.org/2/library/json.html") json.dumps
