.row
  .span12
    h3 Ruby
    pre.
      require 'json'
      require 'YAML'
      
      json = '{ "foo": "bar" }'
      data = JSON.parse(json)
      yml = YAML::dump(data)

      puts yml

    ul
      li
        code gem install json
      li
        a(href="http://www.ruby-doc.org/stdlib-2.0/libdoc/json/rdoc/JSON.html") JSON.parse
      li
        a(href="http://www.ruby-doc.org/stdlib-2.0/libdoc/yaml/rdoc/YAML.html") YAML::dump
