.row
  .span12
    h3 Ruby
    pre
      include yaml2json.rb

    ul
      li
        code gem install json
      li
        a(href="http://www.ruby-doc.org/stdlib-2.0/libdoc/json/rdoc/JSON.html") JSON.dump
      li
        a(href="http://www.ruby-doc.org/stdlib-2.0/libdoc/yaml/rdoc/YAML.html") YAML::load
