.row
  .span12
    h3 Rust
    pre
      include yaml2json.rs

    ul
      li
        a(href="https://crates.io/crates/serde_json") serde_json
      li
        a(href="https://crates.io/crates/serde_yaml") serde_yaml
